<h1>Hola Mundo</h1>
<!-- 
<span>{{ value }}</span>
<br>
<app-button (add)="addToValue($event)">Hola</app-button>
 -->
<!-- 
<div *ngIf="isAuthenticated; else login">
  <h1>Informacion Clasificada</h1>
</div>
<ng-template #login>
  <h1>LOGIN FORM</h1>
</ng-template>
 -->
<!-- 
<div *ngFor="let post of posts">
  <div *ngIf="!isEven(post.id)">
    {{ post.id }} {{ post.title }}
  </div>
</div>
 -->
<!--  
{{ '2131.1241.2355.3452' | hideNumber }}
<br> {{ 'carlos andres arias londo#o' | titlecase | shortName}}
 -->
<!--
<pre>{{ posts$ | async | json }}</pre>
-->
<!-- 
<div *ngFor="let post of posts$ | async">
  {{ post.title }}
</div>
 -->
<pre>{{ posts$ | async | json }}</pre>
