<input type="text" [value]="text">
<br>
<button (click)="addValue(values[0])">{{ values[0] }}</button>
<button (click)="addValue(values[1])">{{ values[1] }}</button>
<button (click)="addValue(values[2])">{{ values[2] }}</button>
<br>
<button (click)="addValue(values[3])">{{ values[3] }}</button>
<button (click)="addValue(values[4])">{{ values[4] }}</button>
<button (click)="addValue(values[5])">{{ values[5] }}</button>
<br>
<button (click)="addValue(values[6])">{{ values[6] }}</button>
<button (click)="addValue(values[7])">{{ values[7] }}</button>
<button (click)="addValue(values[8])">{{ values[8] }}</button>
<br>
<button (click)="addValue(values[9])">{{ values[9] }}</button>
<button (click)="clearInput()">Limpiar</button>
