<app-nav-bar>
</app-nav-bar>
<h1>HR Management</h1>
<h3>Employees</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Company</th>
    <th>Age</th>
    <th>Birthday</th>
    <th>Favourite Color</th>
    <th>Project</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.company}}</td>
    <td>{{employee.age}}</td>
    <td>{{employee.birthday}}</td>
    <td>{{employee.favcolor}}</td>
    <td>{{employee.project}}</td>
  </tr>
</table>
